@page "/"

@inject NavigationManager Navigation

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de carregamento</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="js/Site.js"></script>
    <link rel="stylesheet" href="css/Geral.css" />
    <link rel="stylesheet" href="/css/Header.css" />
    <link rel="stylesheet" href="/css/Home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <!-- Linha de fundo para a navbar -->
        <div id="nav-background"></div>

        <nav id="navbar">
            <i class="fa-solid fa-gas-pump" id="nav_logo"> Meu combustível</i>
            <ul id="nav_list">
                <li class="nav-item active"><a href="#home">Início</a></li>
                <li class="nav-item"><a href="#Login">Login</a></li>
                <li class="nav-item"><a href="#Contato">Sobre</a></li>
            </ul>
            <button class="btn-default">Iniciar</button>
            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>

        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item"><a href="#home">Início</a></li>
                <li class="nav-item"><a href="#Login">Login</a></li>
                <li class="nav-item"><a href="#Contato">Sobre</a></li>
            </ul>
            <button class="btn-default">Iniciar</button>
        </div>
    </header>

    <section id="home">
        <div class="container">
            <div id="cta">
                <h1 class="title">
                    Controle Total do <span>Abastecimento</span>
                </h1>

                <div id="cta_buttons">
                    <a href="#" class="btn-default">Crie sua conta</a>
                </div>
            </div>
            <div id="banner">
                <img src="/images/Telainicial.png" alt="Imagem de Abastecimento" />
            </div>
        </div>
    </section>

    <section id="benefits">
        <div class="benefit">
            <i class="fa-solid fa-gauge-high"></i>
            <h3>Monitoramento em Tempo Real</h3>
            <p>Acompanhe o consumo de combustível da sua frota a qualquer momento.</p>
        </div>
        <div class="benefit">
            <i class="fa-solid fa-coins"></i>
            <h3>Redução de Custos</h3>
            <p>Evite desperdícios e maximize a eficiência do abastecimento.</p>
        </div>
        <div class="benefit">
            <i class="fa-solid fa-lock"></i>
            <h3>Segurança Garantida</h3>
            <p>Controle total sobre o abastecimento da sua empresa.</p>
        </div>
    </section>
    <footer id="developer-info">
        <p>Desenvolvivo por <strong>Marcos Vinicius</strong></p>
        <p>Email: <a href="mailto:marcosviniciuss.dev@gmail.com">marcosviniciuss.dev@gmail.com</a></p>
        <p>© 2025 - Todos os direitos reservados.</p>

    </footer>
</body>
</html> 