@page "/login"
@inject NavigationManager Navigation

<head>
    <link rel="stylesheet" href="css/Login.css" />
</head>

<h2>Login</h2>

<form>
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" required>

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" required>

    <button type="submit">Entrar</button>
</form>

<p>
    Não tem uma conta?
    <button @onclick="IrParaCadastro" class="btn-link">Cadastre-se</button>
</p>

@code {
    private void IrParaCadastro()
    {
        Navigation.NavigateTo("/cadastro", forceLoad: true);
    }
}
